<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nwafu.bingo.dao.EvaluationDao">
    <resultMap id="evaluationMap" type="com.nwafu.bingo.entity.Evaluation">
        <id column="eid" property="eid"/>
        <result column="uid" property="uid"/>
        <result column="gid" property="gid"/>
        <result column="content" property="content"/>
        <result column="score" property="score"/>
        <result column="etime" property="etime"/>
    </resultMap>

    <insert id="add" useGeneratedKeys="true">
        insert into evaluation(uid, gid, content, score, etime)
        values (#{uid}, #{gid}, #{content}, #{score}, #{etime});
    </insert>
    <select id="getById" resultMap="evaluationMap">
        select * from evaluation
        <where>
            ${idType} = #{idValue};
        </where>
    </select>
    <select id="getByUidAndGid" resultMap="evaluationMap">
        select
            *
        from
            evaluation
        where
            uid = #{uid} and gid = #{gid}
    </select>
    <delete id="deleteById">
        delete from evaluation
        where ${idType} = #{idValue};
    </delete>
    <update id="update">
        update evaluation
        set gid = #{gid}, content = #{content}, score = #{score}, etime = #{etime}
        where uid = #{uid};
    </update>
</mapper>