<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwafu.bingo.dao.SystemReqDao">

    <resultMap id="BaseSystemReqMap" type="com.nwafu.bingo.entity.SystemReq">
        <id column="srid" property="srid" jdbcType="INTEGER"/>
        <result column="os" property="os" jdbcType="VARCHAR"/>
        <result column="ram" property="ram" jdbcType="VARCHAR"/>
        <result column="cpu" property="cpu" jdbcType="VARCHAR"/>
        <result column="gpu" property="gpu" jdbcType="VARCHAR"/>
        <result column="harddisk" property="harddisk" jdbcType="VARCHAR"/>

    </resultMap>
    <select id="getById" parameterType="Integer" resultMap="BaseSystemReqMap">
        SELECT
            *
        FROM
            systemreq
        WHERE
            srid = #{id}
    </select>
    <select id="getAll" resultMap="BaseSystemReqMap">
        SELECT
            *
        FROM
            systemreq
    </select>
    <insert id="add" parameterType="com.nwafu.bingo.entity.SystemReq" useGeneratedKeys="true">
        INSERT INTO
            systemreq(srid,os,ram,cpu,gpu,harddisk)
        VALUES (#{srid},#{os},#{ram},#{cpu},#{gpu},#{harddisk})
    </insert>

    <delete id="deleteById" parameterType="Integer">
        DELETE
            FROM systemreq
        WHERE srid = #{id}
    </delete>
</mapper>