@charset "UTF-8";
/**
 * 时间: 2020.8.31
 * 描述：我评测的游戏界面
 */
/**
 * 作者: lwh
 * 时间: 2020.8.20
 * 描述：网页总体样式采用颜色、字体大小、动画常量规定
 */
/****************************基本颜色***********************/
/****************************基本字体及动画***********************/
/****************************框架组件常量***********************/
.community-content {
  padding: 30px 0 40px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

#user-evaluation .close {
  float: unset;
  font-weight: unset;
  text-shadow: unset;
  opacity: unset;
}
#user-evaluation .tabs-container {
  min-height: 603px;
}
#user-evaluation .left-menu-tabs {
  float: left;
  width: 160px;
  height: auto;
  background: #33394d;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
}
#user-evaluation .first-title {
  font-size: 18px;
  color: #b9c0ef;
  margin: 0 20px 5px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #3f4760;
  float: none;
  border-top: none;
  height: 42px;
}
#user-evaluation .tags-button {
  padding: 0;
  float: none;
  height: 42px;
  font-size: 16px;
  line-height: 54px;
  border-width: 4px 0 0;
  text-decoration: none;
}
#user-evaluation .tags-button a {
  color: #7a80a2 !important;
  font-size: 16px !important;
  display: block !important;
  line-height: 42px !important;
  text-align: center !important;
  text-decoration: none !important;
}
#user-evaluation .tags-button .active {
  color: #ff6900 !important;
  background: #292e41 !important;
}
#user-evaluation .tags-button a:hover {
  color: #b9c0ef !important;
  background: #292e41 !important;
}
#user-evaluation .active {
  color: #ff6900 !important;
  background: #292e41 !important;
}
#user-evaluation .center-user-tabs {
  margin-top: 0;
  margin-left: 180px;
  background: #33394d;
  border-radius: 5px 5px 5px 5px;
  min-height: 550px;
}
#user-evaluation div {
  display: block;
  padding: 0;
  margin: 0;
}
#user-evaluation .content {
  background: #33394d;
  padding: 20px;
  width: 100%;
}
#user-evaluation .content-title {
  font-size: 20px;
  font-weight: bold;
  color: #b9c0ef;
  text-align: center;
  margin-bottom: 15px;
  font-weight: normal;
}
#user-evaluation .content-elem {
  display: block;
}
#user-evaluation .content-elem-main {
  padding: 20px;
  background: #292e41;
  height: 179px;
  box-sizing: border-box;
}
#user-evaluation .left {
  padding-top: 30px;
  float: left;
  width: 390px;
}
#user-evaluation .right {
  margin-top: 0;
  padding-top: 30px;
  float: left;
  width: 300px;
}
#user-evaluation .elem-name {
  font-size: 16px;
  color: #7a80a2;
  margin-left: 10px;
  /*    height: 80px;
      line-height: 80px;*/
  text-align: center;
  display: -moz-inline-box;
  display: inline-block;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#user-evaluation .game-elem {
  width: 800px;
  height: 80px;
  overflow: hidden;
  position: relative;
  float: left;
  cursor: pointer;
}
#user-evaluation .score {
  position: absolute;
  display: inline-block;
  width: 300px;
}
#user-evaluation .score2 {
  color: #7a80a2;
}
#user-evaluation .score3 {
  color: #7a80a2;
}
#user-evaluation .condition {
  width: 100px;
  text-align: center;
  float: left;
  position: relative;
  top: 30%;
}
#user-evaluation button {
  font-size: 12px;
  background: #ff6900;
  color: #ffffff;
  padding: 5px 29px;
  border: none;
  text-align: center;
}
#user-evaluation .tabs-container {
  min-height: 603px;
}
#user-evaluation .left-menu-tabs {
  float: left;
  width: 160px;
  height: auto;
  background: #33394d;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
}
#user-evaluation .first-title {
  font-size: 18px;
  color: #b9c0ef;
  margin: 0 20px 5px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #3f4760;
  float: none;
  border-top: none;
  height: 42px;
}
#user-evaluation .tags-button {
  padding: 0;
  float: none;
  height: 42px;
  font-size: 16px;
  line-height: 54px;
  border-width: 4px 0 0;
  text-decoration: none;
}
#user-evaluation .tags-button a {
  font-size: 16px;
  color: #7a80a2;
  display: block;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
}
#user-evaluation .game-chref {
  width: 135px;
  height: 80px;
}

/*# sourceMappingURL=component_user_evaluation.css.map */
