/**
 * 作者: lwh
 * 时间: 2020.8.22
 * 描述：登录模块样式
 */

//导入基本常量
@import "../constant";

/*页面背景图片*/
body > div.container-fluid {
  background-image: url("/src/login_background.jpg");
  background-position: center $navbar-height;
  background-repeat: no-repeat;
  background-size: cover;
  transition: $transition-all;
}

/*页面高度*/
#user-login {
  min-height: $body-min-height;
}

/*登录框所在区域*/
#user-login-form-div {
  margin-top: $form-margin-top;
  border-radius: $form-border-radius;
  padding-right: $form-area-padding;
  padding-left: $form-area-padding;
  background-color: $background-light;
  color: $font-color-light;
  box-shadow: $form-area-box-shadow;
  transition: $transition-all;
}

/*登录框标题*/
#user-login-form-title {
  margin: 20px -20px 20px -20px;
  height: 30px;
  border-bottom: 1px solid $font-color;
  text-align: center;
  color: $font-color-light;
}