/**
 * 时间: 2020.8.31
 * 描述：用户订单列表
 */
@import "../constant";

.community-content {
  padding: 30px 0 40px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

#user-order-list {
  .pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: $font-color;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: lighten($background-light, 5);
    border-color: $background-light;
  }
  .pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: $font-color-light;
    text-decoration: none;
    background-color: $background;
    border: 1px solid $background;
  }

  //region 控制侧边导航栏样式
  .close {
    float: unset;
    font-weight: unset;
    text-shadow: unset;
    opacity: unset;
  }

  .tabs-container {
    min-height: 603px;
  }

  .left-menu-tabs {
    float: left;
    width: 160px;
    height: auto;
    background: #33394d;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
  }

  .first-title {
    font-size: 18px;
    color: #b9c0ef;
    margin: 0 20px 5px 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3f4760;
    float: none;
    border-top: none;
    height: 42px;
  }

  .tags-button {
    padding: 0;
    float: none;
    height: 42px;
    font-size: 16px;
    line-height: 54px;
    border-width: 4px 0 0;
    text-decoration: none;
  }

  .tags-button a {
    color: #7a80a2 !important;
    font-size: 16px !important;
    display: block !important;
    line-height: 42px !important;
    text-align: center !important;
    text-decoration: none !important;
  }

  .tags-button .active {
    color: #ff6900 !important;
    background: #292e41 !important;
  }

  .tags-button a:link {

  }

  .tags-button a:visited {
  }

  .tags-button a:hover {
    color: #b9c0ef !important;
    background: #292e41 !important;
  }

  .tags-button a:active {
  }

  .active {
    color: #ff6900 !important;
    background: #292e41 !important;
  }

  .center-user-tabs {
    margin-top: 0;
    margin-left: 180px;
    background: #33394d;
    border-radius: 5px 5px 5px 5px;
    min-height: 550px;
    padding-top: 20px;
  }

  //endregion 控制侧边导航栏样式结束

  //region 列表开始
  .myorder-elem {
    height: 120px;
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
  }

  .column1 {
    height: 85px;
    width: 425px;
    float: left;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow-x: auto;
  }

  .column1-elem {
    width: 135px;
    height: 85px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
  }

  .column1-img {
    display: inline;
    float: left;
    height: 80px;
    line-height: 80px;
    padding-left: 50px;
  }

  .column1-elem img {
    width: 135px;
    height: 85px;
  }

  .column1-elem-txt {
    margin: 0;
    display: none;
    width: 135px;
    height: 85px;
    //line-height: 80px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    left: 0;
    padding-top: 20%;
  }

  .row2 {
    width: 170px;
    float: left;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .row3 {
    width: 120px;
    float: left;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .myorder-elem .row2 {
    width: 170px;
    float: left;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: $font-color;
    font-size: $font-size-text;
  }

  .myorder-elem .row3 {
    width: 120px;
    float: left;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: $font-color;
    font-size: $font-size-text;
  }

  .condition {
    font-size: $font-size-text;
    display: inline;
    float: right;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    position: relative;
    top: 18%;
  }

  .condition :hover {
    //color: #28669A;
    //background-color: olivedrab;
  }

  //endregion 列表结束
  div {
    display: block;
    margin: 0;
    padding: 0;
  }

  .content-title {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: normal;
    color: #b9c0ef;
  }

  .order-main {
    padding-left: 20px;
    padding-right: 20px;
    //margin-left: 170px;
    //margin-top: 150px;
    //background-color: #2b669a;
    width: 100%;
    height: 100%;
    font-size: $font-size-title;
    color: $font-color-light;
  }

  .sum {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 170px;
    margin-top: 15px;
    background-color: #2b669a;
    width: 900px;
    height: 80px;
  }

  .sum-num {
    height: 80px;
    display: inline;
    float: right;
    line-height: 80px;
  }

  .sum-but {
    margin-top: 23px;
    background-color: lightgreen;
    width: 100px;
    height: 38px;
    display: inline;
    float: right;
    font-size: 20px;
  }

  .row1 {
    width: 425px;
    float: left;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .order-title {
    font-size: $font-size-title;
    height: 42px;
    border-bottom: 1px solid $font-color;
  }

  .price {
    width: 300px;
    float: left;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .operate {
    height: 80px;
    width: 120px;
    float: left;
    text-align: center;
    position: relative;
    top: 75%;
    transform: translateY(-50%);
  }

  .operate button {
    background-color: #28669A;
    border: none;
  }

  /*
  body{
    background-color: whitesmoke;
  }*/
  .game-title {
    width: 400px;
    height: 80px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
  }

  .elem-name {
    margin-left: 135px;
    width: 135px;
    height: 80px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 30px;
  }

  .game-elem {
    width: 800px;
    height: 80px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
  }

  .che-buy {
    margin-top: 30px;
    display: inline;
    float: left;
  }

  /*GJDcss
  */
  .community-content {
    padding: 130px 0 40px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
  }

  .tabs-container {
    min-height: 603px;
  }

  .left-menu-tabs {
    float: left;
    width: 160px;
    height: auto;
    background: #33394d;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
  }

  .first-title {
    font-size: 18px;
    color: #b9c0ef;
    margin: 0 20px 5px 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3f4760;
    float: none;
    border-top: none;
    height: 42px;
  }

  .tags-button {
    padding: 0;
    float: none;
    height: 42px;
    font-size: 16px;
    line-height: 54px;
    border-width: 4px 0 0;
    text-decoration: none;
  }

  .tags-button a {
    font-size: 16px;
    color: #7a80a2;
    display: block;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
  }
}
