/**
 * 时间: 2020.9.1
 * 描述：查看他人资料
 */
@import "../constant";


#community-other-profile {

  body {
    background: #202539;
  }

  div, body, p, h1, h2, input {
    margin: 0;
    padding: 0;
  }

  div {
    display: block;
  }

  .community-content {
    padding: 130px 0 40px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
  }

  .tabs-container {
    min-height: 603px;
  }

  .tags-button a {
    color: #7a80a2;
    font-size: 16px;
    display: block;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
  }

  .center-user-tabs {
    margin: 30px auto;
    background: transparent;
    width: 1200px;
  }

  .center-user-info {
    font-size: $font-size-text;
    background: #33394d;
    padding: 50px 110px 40px 100px;
    border-radius: 5px 5px 5px 5px;
    min-height: 500px;
  }

  .form-block > div:first-of-type {
    color: $font-color-light;
  }

  .form-block > p {
    color: $font-color-light !important;
  }

  .top-info {
    height: 100px;
    margin-bottom: 65px;
  }

  .left-photo {
    float: left;
    position: relative;
  }

  .left-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50% 50% 50% 50%;
    border: 0;
  }

  .upload-photo {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
  }

  .upload-photo input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    border-width: 1px;
    border-color: #b9c0ef;;
  }

  .form-block {
    float: left;
    margin: 10px 0 0 40px;
    height: 30px;
    line-height: 30px;
  }

  .form-block p {
    font-size: 14px;
    color: #7a80a2;
    margin-bottom: 10px;
    padding-top: 0;
    display: block;
  }

  .form-block textarea {
    width: 670px;
    height: 60px;
    padding: 10px;
    color: #b9c0ef;
    background: #3f4760;
    border-radius: 5px 5px 5px 5px;
    border: 0;
    resize: none;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textarea;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0;
    border-image: initial;
  }

  .label-name {
    float: left;
    width: 100px;
    color: #7a80a2;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
  }

  .form-control {
    float: left;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 40px;
    color: #b9c0ef;
    text-decoration: none;
  }

  .form-block input {
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #b9c0ef;
    background: #3f4760;
    border-radius: 2px 2px 2px 2px;
    border-style: none;
  }

  input::placeholder, textarea::placeholder {
    color: #7a80a2;
  }

  .form-control a {
    border: none;
    text-align: center;
    box-sizing: border-box;
    font-size: 12px;
    background: #508bf3;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border-radius: 2px 2px 2px 2px;
    padding: 0 10px;
    float: left;
    margin-right: 20px;
    text-decoration: none;
  }

  .form-block select {
    width: 200px;
    height: 30px;
    color: #7a80a2;
    background: #2d3347;
    border-radius: 2px 2px 2px 2px;
    border: 0;
    box-sizing: border-box;
    outline: none;
  }
}