@charset "UTF-8";
/**
 * 时间: 2020.8.31
 * 描述：用户订单列表
 */
/**
 * 作者: lwh
 * 时间: 2020.8.20
 * 描述：网页总体样式采用颜色、字体大小、动画常量规定
 */
/****************************基本颜色***********************/
/****************************基本字体及动画***********************/
/****************************框架组件常量***********************/
.community-content {
  padding: 30px 0 40px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

#user-order-list {
  /*
  body{
    background-color: whitesmoke;
  }*/
  /*GJDcss
  */
}
#user-order-list .pagination > li > a, #user-order-list .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #7a80a2;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
#user-order-list .pagination > .active > a, #user-order-list .pagination > .active > a:focus, #user-order-list .pagination > .active > a:hover, #user-order-list .pagination > .active > span, #user-order-list .pagination > .active > span:focus, #user-order-list .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #3d445c;
  border-color: #33394d;
}
#user-order-list .pagination > li > a, #user-order-list .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #b9c0ef;
  text-decoration: none;
  background-color: #202539;
  border: 1px solid #202539;
}
#user-order-list .close {
  float: unset;
  font-weight: unset;
  text-shadow: unset;
  opacity: unset;
}
#user-order-list .tabs-container {
  min-height: 603px;
}
#user-order-list .left-menu-tabs {
  float: left;
  width: 160px;
  height: auto;
  background: #33394d;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
}
#user-order-list .first-title {
  font-size: 18px;
  color: #b9c0ef;
  margin: 0 20px 5px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #3f4760;
  float: none;
  border-top: none;
  height: 42px;
}
#user-order-list .tags-button {
  padding: 0;
  float: none;
  height: 42px;
  font-size: 16px;
  line-height: 54px;
  border-width: 4px 0 0;
  text-decoration: none;
}
#user-order-list .tags-button a {
  color: #7a80a2 !important;
  font-size: 16px !important;
  display: block !important;
  line-height: 42px !important;
  text-align: center !important;
  text-decoration: none !important;
}
#user-order-list .tags-button .active {
  color: #ff6900 !important;
  background: #292e41 !important;
}
#user-order-list .tags-button a:hover {
  color: #b9c0ef !important;
  background: #292e41 !important;
}
#user-order-list .active {
  color: #ff6900 !important;
  background: #292e41 !important;
}
#user-order-list .center-user-tabs {
  margin-top: 0;
  margin-left: 180px;
  background: #33394d;
  border-radius: 5px 5px 5px 5px;
  min-height: 550px;
  padding-top: 20px;
}
#user-order-list .myorder-elem {
  height: 120px;
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
}
#user-order-list .column1 {
  height: 85px;
  width: 425px;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow-x: auto;
}
#user-order-list .column1-elem {
  width: 135px;
  height: 85px;
  overflow: hidden;
  position: relative;
  float: left;
  cursor: pointer;
}
#user-order-list .column1-img {
  display: inline;
  float: left;
  height: 80px;
  line-height: 80px;
  padding-left: 50px;
}
#user-order-list .column1-elem img {
  width: 135px;
  height: 85px;
}
#user-order-list .column1-elem-txt {
  margin: 0;
  display: none;
  width: 135px;
  height: 85px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  left: 0;
  padding-top: 20%;
}
#user-order-list .row2 {
  width: 170px;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#user-order-list .row3 {
  width: 120px;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#user-order-list .myorder-elem .row2 {
  width: 170px;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #7a80a2;
  font-size: 16px;
}
#user-order-list .myorder-elem .row3 {
  width: 120px;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #7a80a2;
  font-size: 16px;
}
#user-order-list .condition {
  font-size: 16px;
  display: inline;
  float: right;
  height: 30px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  top: 18%;
}
#user-order-list div {
  display: block;
  margin: 0;
  padding: 0;
}
#user-order-list .content-title {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: normal;
  color: #b9c0ef;
}
#user-order-list .order-main {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #b9c0ef;
}
#user-order-list .sum {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 170px;
  margin-top: 15px;
  background-color: #2b669a;
  width: 900px;
  height: 80px;
}
#user-order-list .sum-num {
  height: 80px;
  display: inline;
  float: right;
  line-height: 80px;
}
#user-order-list .sum-but {
  margin-top: 23px;
  background-color: lightgreen;
  width: 100px;
  height: 38px;
  display: inline;
  float: right;
  font-size: 20px;
}
#user-order-list .row1 {
  width: 425px;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#user-order-list .order-title {
  font-size: 20px;
  height: 42px;
  border-bottom: 1px solid #7a80a2;
}
#user-order-list .price {
  width: 300px;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#user-order-list .operate {
  height: 80px;
  width: 120px;
  float: left;
  text-align: center;
  position: relative;
  top: 75%;
  transform: translateY(-50%);
}
#user-order-list .operate button {
  background-color: #28669A;
  border: none;
}
#user-order-list .game-title {
  width: 400px;
  height: 80px;
  overflow: hidden;
  position: relative;
  float: left;
  cursor: pointer;
}
#user-order-list .elem-name {
  margin-left: 135px;
  width: 135px;
  height: 80px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 30px;
}
#user-order-list .game-elem {
  width: 800px;
  height: 80px;
  overflow: hidden;
  position: relative;
  float: left;
  cursor: pointer;
}
#user-order-list .che-buy {
  margin-top: 30px;
  display: inline;
  float: left;
}
#user-order-list .community-content {
  padding: 130px 0 40px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}
#user-order-list .tabs-container {
  min-height: 603px;
}
#user-order-list .left-menu-tabs {
  float: left;
  width: 160px;
  height: auto;
  background: #33394d;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
}
#user-order-list .first-title {
  font-size: 18px;
  color: #b9c0ef;
  margin: 0 20px 5px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #3f4760;
  float: none;
  border-top: none;
  height: 42px;
}
#user-order-list .tags-button {
  padding: 0;
  float: none;
  height: 42px;
  font-size: 16px;
  line-height: 54px;
  border-width: 4px 0 0;
  text-decoration: none;
}
#user-order-list .tags-button a {
  font-size: 16px;
  color: #7a80a2;
  display: block;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
}

/*# sourceMappingURL=component_user_order_list.css.map */
