<div>
    <ul>
        <li class="all-game-card">
            <a href="#" class="all-game-card-a">
                <div class="all-game-card-left">
                    <img src="#" alt="dfsd">
                </div>
                <div class="all-game-card-right">
                    <span class="right-game-discount">0.75</span>
                    <span class="right-game-origin-price">￥41</span>
                    <span class="right-game-price">￥37</span>
                </div>
                <div class="all-game-card-middle">
                    <p class="middle-title">
                        Yomawari: Night Alone
                        <span class="middle-title-area">国际站</span>
                    </p>
                    <p class="middle-date">发行于2016-10-24</p>
                    <p class="middle-game-types">
                        <span class="middle-game-type">冒险</span>
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>
<link rel="text/css" href="/css/dynamic_components/component_all_game_card.css">
