<div>
    <div class="col-sm-2">
        <div class="index-game-card-container">
            <div class="index-game-card-cover-container">
                <a href="javascript:void(0)">
                    <img src="/src/test.jpg" alt="封面" onerror="onerror=null;this.src='/src/img_load_error.jpg';">
                </a>
            </div>
            <div class="index-game-card-info-container">
                <p>test</p>
                <div class="index-game-card-info-price-container">
                    <span>test</span>
                    <div>
                        <span>test</span>
                        <span>test</span>
                    </div>
                </div>
            </div>
            <div class="index-game-card-discount-label">促销</div>
        </div>
    </div>
</div>