body, html {
  width: 100%;
  height: 100%;
}

.navbar-brand {
  position: relative;
  top: 10px;
  left: 20px;
  height: 70px;
  padding: 0px;
}

.left-nav {
  position: fixed;
  margin-left: 0px;
  width: 15%;
  height: 100%;
  padding-top: 0px;
  background-color: black;
  float: left;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #dbdbdb;
  background-color: black; /*#177ddc*/

}

/*.nav-second>li.active>a,
.nav-second>li.active>a:focus,
.nav-second>li.active>a:hover{
    background-color: black;
}*/
.nav-second > li > a,
.nav-second > li > a:focus,
.nav-second > li > a:hover {
  background-color: #177ddc; /*#f5222d;*/
  color: white;

}

.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
  color: white;
  background-color: black;
  border-color: #333;
}

.nav > li > a {
  color: #9d9d9d;
  background-color: #333;
  border-color: #333;
  text-align: left;
}

.nav > li > a:focus,
.nav > li > a:hover {
  border-color: black;
}

.navbar-title {
  height: 70px;
  width: 100%;
  background-color: black;
}

.navbar-contain {
  width: 100%;
  top: 20px;
  position: relative;
}

.contain-div {
  width: 85%;
  min-height: 920px;
  padding-top: 0px;
  float: right;
  height:auto;
}

.contain-nav {
  width: 100%;
  height: 75px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #dbdbdb;

}

.main-contain {
  width: 100%;
  min-height: 845px;
  padding: 0;
  height:auto;
}

.main-nav {
  width: 100%;
  height: 30px;
}

.contain-des {
  width: 100%;
  height: 70px;
  left: 20px;
  position: relative;
}

.info-content-out {
  width: 100%;
  min-height: 745px;
  background-color: #dbdbdb;
  height:auto;
}

.info-content {
  width: 90%;
  min-height: 625px;
  height:auto;
  position: relative;
  left: 5%;
  top: 25px;
  background-color: white;
}

.object-operator {
  position: relative;
  width: 100%;
  height: 10%;
  z-index: 5;
}

.object-search {
  position: relative;
  top: 20px;
  left: 10px;
  float: left;
  padding-left: 20px;
}

.object-search-button {
  position: relative;
  top: 20px;
  left: 10px;
  float: left;
  padding-left: 5px;

}

.btn-default:focus
.btn-default:hover,
.btn:hover,
.btn:focus {
  background-color: #177ddc; /*#f5222d;*/
  color: white;
  border-style: none;
}

.object-show {
  width: 95%;
  height: 80%;
  position: relative;
  left: 20px;
  top: 30px;
  z-index: 3;
}

.table-head {
  background-color: #fafafa;
  font-size: 15px;
}

.rows {
  font-size: 15px;
}

.rows:hover {
  background-color: #fef1f0;
}

.delete,
.delete:link,
.delete:visited,
.delete:active,
.delete:hover {
  color: #177ddc; /*red;*/
  font-family: 微软雅黑;
  text-decoration: none;
}

.edit,
.edit:link,
.edit:visited,
.edit:active {
  color: #177ddc; /*red;*/
  text-decoration: none;
  font-family: 微软雅黑;
}

.more,
.more:link,
.more:visited,
.more:active,
.more:hover {
  color: #177ddc; /*red;*/
  text-decoration: none;
  font-family: 微软雅黑;
}
.detail,
.detail:link,
.detail:visited,
.detail:active,
.detail:hover{
  color: #177ddc; /*red;*/
  text-decoration: none;
  font-family: 微软雅黑;
}
.delete-post,
.delete-post:link,
.delete-post:visited,
.delete-post:active,
.delete-post:hover{
  color: #177ddc; /*red;*/
  text-decoration: none;
  font-family: 微软雅黑;
}
.delete-advertise,
.delete-advertise:link,
.delete-advertise:visited,
.delete-advertise:active,
.delete-advertise:hover{
  color: #177ddc; /*red;*/
  text-decoration: none;
  font-family: 微软雅黑;
}
.pages {
  position: relative;
  top: 10px;
  bottom: 10px;
  width: 100%;
}

.modal-game {
  width: 1100px;
}

.modal-user {
  width: 600px;
}
.modal-order{
  width:800px;
}
.Model-delete{
  width: 300px;
}
.modal-advertise{
  width: 400px;
}
.edit-game {
  position: relative;
  left: 50px;
}

.edit-game > span {
  text-align: right;
  display: inline-block;
  width: 100px;
}

.type-checkbox:checked {
  color: white;
  background-color: #f5222d;
}

.add-table {
  position: relative;
  top: 30px;
  /*left: 70px;*/

}

.add-button {
  position: relative;
  left: 700px;
}

.nav-second-a {
  text-align: center;
}

.unique-code,
.unique-code:hover,
.unique-code:link,
.unique-code:visited,
.unique-code:active {
  color: black;
  text-decoration: none
}

.admin-info {
  position: absolute;
  right: 15px;
  height: 70px;
  width: 200px;
  top: 2px;
}

.admin-avator {
  position: absolute;
  top: 12px;
  left: 40px;
  float: left;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.admin-avator img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.admin-id,
.admin-id:focus,
.admin-id:active {
  position: relative;
  left: 40px;
  color: black;
  top: 10px;
}

/*.admin-id>a{
    color: black;
    text-decoration:none
}*/
.get-help {
  position: relative;
  top: 25px;
  float: left;
}

.get-help > a {
  color: black;
  text-decoration: none
}

.user-detail {
  width: 175px;
}

.admin-set:hover {
  background-color: #007bff;
}

.nav-admin {
  width: 180px;
}

.nav-admin > li > a {
  background-color: #F6F6F6;
  border-color: #F6F6F6;
  position: relative;
  text-align: center;
  color: black;
}

.nav-admin > li > a:link,
.nav-admin > li > a:active,
.nav-admin > li > a:focus,
.nav-admin > li > a:hover {
  background-color: #F6F6F6;
}

.page-title{
  position: relative;
  top: 5px;
  left: 20px;
}

