.game-detail{
  padding-left: 20%;
  width: 100%;
  height: 100%;
  /*  padding: 0;*/
  margin: 0;
  display: block;
}
div{
  display: block;
  padding: 0;
  margin: 0;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
p{
  color: rgb(185, 192, 239);
  line-height: 24px;
  font-size: 14px;
}
.detail-main{
  padding-top: 120px;
}
.title{
  position: relative;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  height: 40px;
  margin-bottom: 5px;
  color: #b9c0ef;
}
.content{
  width: 750px;
  height: 351px;
  background-color: #000000;
}
.videos-player {
  display: inline-block;
  position: relative;
  float: left;
}
.videos-player .new-big-center-play-btn {
  display: inline-block;
  z-index: 2;
  position: absolute;
  width: 72px;
  height: 72px;
  top: 136px;
  left: 269px;
  cursor: pointer;
  //background: url()
}
.default-height {
  height: 348px;
  margin: 0;
  width: 550px;
}
.titile-content-left{
  height: 100%;
  width: 800px;
  float: left;
  margin-right: 20px;
}
.titile-content-right{
  width: 360px;
  float: left;
}
.titile-content-left-1{
  background-color: #33394d;
  position: relative;
  height: 400px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.titile-content-left-2{
  /*  height: 325px;*/
  height: 700px;
  background-color: #33394d;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: height .5s;
  margin-bottom: 20px;
}
.titile-one{
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #b9c0ef;
  height: 28px;
  padding: 20px 20px 25px 20px;
}
.titile-two{
  margin: 0 20px 20px 20px;
}
.titile-three {
  height: 500px;
  float: left;
  margin: 20px 20px 20px 20px;
}
.titile-content-left-3{
  margin-bottom: 20px;
  background-color: #33394d;
}
.titile-content-left-3-1{
  display: inline-block;
  padding: 16px 15px 17px 15px;
  font-size: 16px;
  text-align: center;
  background-color: #33394d;
  color: #7a80a2;
}
.titile-content-left-3-b{
  background-color: #292e41;
}
.titile-content-left-3-2{
  padding: 13px 20px 20px 20px;
}
.titile-content-left-3-2-1{
  display: inline-block;
  width: 350px;
}
.titile-content-left-3-2-2{
  margin-left: 40px;
  display: inline-block;
  width: 350px;
}
.titile-content-right-1{
  background-color: #33394d;
  min-height: 93px;
  margin-bottom: 20px;
  position: relative;
}
.titile-content-right-1-2{
  /*  height: 325px;*/
  height: 300px;
  background-color: #33394d;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: height .5s;
  margin-bottom: 20px;
}
.tag-list{
  padding: 20px 20px 0 20px;
}
.tag{
  display: inline-block;
  margin-right: 6px;
  border-radius: 4px;
  background-color: #292e41;
  padding: 4px 6px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 6px;
  cursor: pointer;
  text-decoration: none;
  color: #b9c0ef;
}
.sale-info {
  padding: 27px 20px 0 20px;
}
.off-discount{
  margin-left: 10px;
  padding-right: 10px;
  float: right;
  color: #ff9800;
  height: 40px;
  line-height: 40px;
  width: 70px;
  background-color: #202539;
}
.off-count{
  padding-right: 8px;
  font-size: 20px;
  font-weight: 600;
  width: 72px;
  text-align: center;
}
.list-price{
  width: 65px;
  margin-left: 10px;
  font-size: 14px;
  color: #7a80a2;
  text-decoration: line-through;
  float: right;
  height: 42px;
  line-height: 42px;
}
.true-price{
  padding-right: 40px;
  float: right;
  font-size: 24px;
  font-weight: 600;
  color: #ff6900;
  height: 42px;
  line-height: 42px;
}
.box-buy{
  padding: 10px 20px 17px 20px;
  height: 45px;
}
.box-bts{
  margin-right: 15px;
  width: 150px;
  color: #7a80a2;
  background-color: #3f4760;
  font-size: 18px;
  font-weight: 600;
  float: left;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 2px;
}
.shoopingcat{
  font-size: 18px;
  font-weight: 600;
  background-color: #eb6100;
  height: inherit;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 2px;
  transition: all ease-in-out .3s;
  color: #fff;
}
.buy{
  width: 135px;
  font-size: 18px;
  font-weight: 600;
  color: #7a80a2;
  background-color: #3f4760;
  float: left;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 0;
}
.tobuy{
  font-size: 18px;
  font-weight: 600;
  background-color: #508bf3;
  height: inherit;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 2px;
  transition: all ease-in-out .3s;
  color: #fff;
}
.titile-content-right-2{
  background-color: #33394d;
  margin-bottom: 20px;
  padding: 20px;
}
.titile-content-right-3{
  background-color: #33394d;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
}
.titile-deploy{
  font-size: 16px;
  text-align: left;
  color: #b9c0ef;
}
.main-table{
  margin-top: 14px;
  font-size: 12px;
}
.lab{
  width: 66px;
  color: #7a80a2;
  text-align: center;
  border: 1px solid #202539;
}
.txt{
  border: 1px solid #202539;
  color: #b9c0ef;
}
.t1{
  background-color: #2c334c;
}
.wish{
  margin-top: 40px;
  padding: 8px 20px 15px 20px;
  font-size: 14px;
  text-align: left;
  color: #7a80a2;}
.item-info{
  margin-bottom: 5px;
  color: #b9c0ef;
}
.item-info .item-label {
  display: inline-block;
  width: 70px;
  text-align: left;
  color: #7a80a2;
  height: 24px;
  font-size: 14px;
}
.item-info .item-content {
  padding-left: 5px;
  display: inline-block;
  width: 240px;
  text-align: left;
  vertical-align: top;
  box-sizing: border-box;
}
.item {

  margin-right: 5px;
  text-align: center;
  color: #b9c0ef;
  display: inline-block;
  background-color: #292e41;
  border-radius: 2px;
  height: 20px;
  line-height: 20px;
}
.d-cover{
  margin-bottom: 10px;
  display: block;
}
.cover{
  margin-top: 5px;
  margin-right: 20px;
  float: right;
  width: 324px;
  height: 151px;
}
.score-1{
  padding-left: 20px;
  width: 740px;
  height: 60px;
}
.score-1-1{
  font-size: 56px;
  font-weight: 600;
  color: #ED8400;
  width: 60px;
  display: inline-block;
  float: left;
}
.score-1-2{
  height: 60px;
  margin-top: 30px;
  margin-left: 30px;
  float: left;
  display: inline-block;
}
.star{
  color: yellow;
}
.score1{
}
.score2{
  color: #7a80a2;
}
.score3{
  color: #7a80a2;
}
.score-1-3{
  display: block;
  width: 740px;
  height: 500px;
  padding-left: 20px;
}
.score-1-3-1{
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 0;
  padding: 0;
}
.score-1-3-2{
  position: absolute;
  margin-left: 130px;
  display: inline-block;
  width: 500px;
}
.Avatar{
  display: inline-block;
  height: 50px;
  width: 50px;
}
.uAvatar{
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
}
.uname{
  color: #7a80a2;
  display: inline-block;
  width: 90px;
  height: 20px;
  padding: 0;
  margin: 0;
}
.videoPlayer{
  width:100%;
  height:100%;
}
.show-list {
  display: inline-block;
  width: 170px;
  margin-bottom: 4px;
  margin-top: 4px;
  height: 341px;
  overflow: hidden;
  padding-left: 5px;
  float: left;
  position: relative;
  overflow-y: auto;
}
.show-elem{
  width: 141px;
  height: 79px;
  margin-bottom: 6px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
}
.show-elem img{
  width: 141px;
  height: 78px;
  border: 2px solid transparent;
  box-sizing: content-box;
}
.list-control{
  margin-top: 10px;
  margin-left: 710px;
  width: 18px;
  height: 340px;
  background-color:whitesmoke;
  position: relative;
}
.thumb {
  height: 80px;
  top:0;
  cursor: pointer;
  left: 0;
  position: absolute;
  width: 18px;
  border-radius: 2px;
  background-color: purple;
}
.show-elem :hover{
  border:2px solid #808BF3;
}
.player{
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 20px;
  left: 55px;
  z-index:9999;
  font-size: 40px;
}
.sElem{
  width: 700px;
  height: 100px;
  display: block;
}