/**
 * 作者: lwh
 * 时间: 2020.8.20
 * 描述：网页总体基本样式输入框、按钮、滚动条等规定
 */

//导入基本常量
@import "constant";

/****************************滚动条***********************/
/*参数说明
::-webkit-scrollbar 滚动条整体部分
::-webkit-scrollbar-thumb  滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
::-webkit-scrollbar-track  滚动条的轨道（里面装有Thumb）
::-webkit-scrollbar-button 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。
::-webkit-scrollbar-track-piece 内层轨道，滚动条中间部分（除去）
::-webkit-scrollbar-corner 边角，即两个滚动条的交汇处
::-webkit-resizer 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: $background-dark;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $background-title;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $background-light;
}

/****************************超链接***********************/
a {
  color: $font-color !important;
  text-decoration: none !important;
}

a:hover,
a:active {
  color: $font-color-light !important;
  text-decoration: none !important;
  transition: $transition-color;
}

/****************************按钮***********************/

//主要按钮
.btn-primary,
.btn-primary:focus {
  color: darken($font-color-highlight, 10);
  background-color: $orange;
  border: none;
  box-shadow: none;
}

.btn-primary:hover,
.btn-primary:active {
  color: $font-color-highlight !important;
  background-color: $yellow !important;
  border: none !important;
  box-shadow: none !important;
  transition: $transition-color;
}

//次要按钮
.btn-secondary,
.btn-secondary:focus {
  color: $font-color-highlight;
  background-color: lighten($background-light, 20);
  border: none;
  box-shadow: none;
}

.btn-secondary:hover,
.btn-secondary:active {
  color: $font-color-highlight !important;
  background-color: lighten($background-light, 40) !important;
  border: none !important;
  box-shadow: none !important;
  transition: $transition-color;
}

//其他按钮
.btn-info,
.btn-info:focus {
  color: $font-color-highlight;
  background-color: $yellow;
  border: none;
  box-shadow: none;
}

.btn-info:hover,
.btn-info:active {
  color: $font-color-highlight !important;
  background-color: lighten($yellow, 10) !important;
  border: none !important;
  box-shadow: none !important;
  transition: $transition-color;
}

/****************************下拉菜单***********************/
.dropdown-menu {
  background-color: $background-light;
  padding: 0;
}

.dropdown-menu .dropdown-item,
.dropdown-menu .dropdown-item:focus {
  background-color: $background-light;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active {
  background-color: lighten($background-light, 20);
  transition: $transition-color;
}

.dropdown-divider {
  margin: 0;
  border-top: 1px solid $background;
}

/****************************alert模态框***********************/
.alert-modal-header {
  border: none;
  padding: 5px 15px 5px 15px;
  background-color: $background;
  color: $font-color-light;
}

.alert-modal-header span {
  color: $font-color-light;
}

.alert-modal-body {
  padding: 10px;
  background-color: $background-light;
  color: $font-color;
}

.alert-modal-body-foot {
  margin-top: 20px;
  text-align: right;
}

/****************************输入框***********************/
.ipt-dark {
  border: none;
  outline: none;
  background-color: lighten($background-light, 10);
  color: $font-color-light;
}

/****************************bootstrapvalidator验证信息颜色***********************/
.has-error .form-control-feedback {
  color: $red;
}

.has-error .help-block {
  color: $red;
}

.has-error .control-label {
  color: $red;
}

.has-success .form-control-feedback {
  color: $green;
}

.has-success .help-block {
  color: $green;
}

.has-success .control-label {
  color: $green;
}

.form-control[disabled] {
  background-color: $orange;
}