/**
 * 作者: lwh
 * 时间: 2020.8.20
 * 描述：首页样式
 */

//导入基本常量
@import "globalStyle";
//导入侧边栏css
//@import "sidebar";

body {
  background-color: $background;
  color: $font-color;
}

//导航栏
nav.navbar {
  border: none;
  border-radius: 0;
  padding: 0 $navbar-padding;
  margin: 0;
  background-color: darken($background, 5);
  color: $font-color;
  font-size: $font-size-title;
}

//导航栏brand
nav.navbar .navbar-header .navbar-brand {
  height: $navbar-height;
  padding: 0;
}

nav.navbar .navbar-header .navbar-brand img {
  width: $navbar-height * 2.48;
  height: $navbar-height;
}

//导航列表超链接通用样式
nav.navbar ul.navbar-nav {
  padding: 0 $navbar-padding;
  line-height: $navbar-height;
}

nav.navbar ul.navbar-nav > li > a {
  width: $navbar-navlink-width;
  height: $navbar-height;
  padding: 0;
  line-height: $navbar-height;
  font-size: $font-size-title;
  text-align: center;
}

//导航列表超链接被激活样式
nav.navbar li.active > a {
  background-color: $background-light !important;
  color: $orange !important;
}

nav.navbar li.dropdown.open > a {
  background-color: $background-light !important;
}

//导航栏搜索框
nav.navbar form.navbar-form {
  height: $navbar-height;
  margin: 0;
  padding-top: 18px;
}

//用户信息展示导航标签特殊样式
nav.navbar ul.navbar-right > li.dropdown > a.dropdown-toggle {
  width: unset;
}

nav.navbar #navbar-uinfo .dropdown-toggle > img {
  width: $navbar-avatar-width;
  height: $navbar-avatar-width;
  border-radius: 50%;
  transform: translateZ(0);
}

//页面主体
#body-container {
  min-height: $body-min-height;
  margin-top: $navbar-height + $breadcrumb-height;
}

#foot-container {
  height: $foot-height;
  line-height: $foot-height;
  background-color: $background-dark;
  color: $font-color;
}

#foot-container p {
  font-size: $font-size-text;
  margin: 0 auto;
}