@charset "UTF-8";
/**
 * 作者: lwh
 * 时间: 2020.8.20
 * 描述：首页样式
 */
/**
 * 作者: lwh
 * 时间: 2020.8.20
 * 描述：网页总体基本样式输入框、按钮、滚动条等规定
 */
/**
 * 作者: lwh
 * 时间: 2020.8.20
 * 描述：网页总体样式采用颜色、字体大小、动画常量规定
 */
/****************************基本颜色***********************/
/****************************基本字体及动画***********************/
/****************************框架组件常量***********************/
/****************************滚动条***********************/
/*参数说明
::-webkit-scrollbar 滚动条整体部分
::-webkit-scrollbar-thumb  滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
::-webkit-scrollbar-track  滚动条的轨道（里面装有Thumb）
::-webkit-scrollbar-button 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。
::-webkit-scrollbar-track-piece 内层轨道，滚动条中间部分（除去）
::-webkit-scrollbar-corner 边角，即两个滚动条的交汇处
::-webkit-resizer 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1a1e2e;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #292e41;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #33394d;
}

/****************************超链接***********************/
a {
  color: #7a80a2 !important;
  text-decoration: none !important;
}

a:hover,
a:active {
  color: #b9c0ef !important;
  text-decoration: none !important;
  transition: background-color 0.3s, color 0.3s;
}

/****************************按钮***********************/
.btn-primary,
.btn-primary:focus {
  color: white;
  background-color: #ff6900;
  border: none;
  box-shadow: none;
}

.btn-primary:hover,
.btn-primary:active {
  color: white !important;
  background-color: #ff9800 !important;
  border: none !important;
  box-shadow: none !important;
  transition: background-color 0.3s, color 0.3s;
}

.btn-secondary,
.btn-secondary:focus {
  color: white;
  background-color: #47506c;
  border: none;
  box-shadow: none;
}

.btn-secondary:hover,
.btn-secondary:active {
  color: white !important;
  background-color: #5c668a !important;
  border: none !important;
  box-shadow: none !important;
  transition: background-color 0.3s, color 0.3s;
}

.btn-info,
.btn-info:focus {
  color: white;
  background-color: #ff9800;
  border: none;
  box-shadow: none;
}

.btn-info:hover,
.btn-info:active {
  color: white !important;
  background-color: #ffad33 !important;
  border: none !important;
  box-shadow: none !important;
  transition: background-color 0.3s, color 0.3s;
}

/****************************下拉菜单***********************/
.dropdown-menu {
  background-color: #33394d;
  border: none;
  padding: 0;
}

.dropdown-menu .dropdown-item,
.dropdown-menu .dropdown-item:focus {
  background-color: #33394d;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active {
  background-color: #5c668a;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-divider {
  margin: 0;
  border-top: 1px solid #202539;
}

/****************************alert模态框***********************/
.alert-modal-header {
  border: none;
  padding: 5px 15px 5px 15px;
  background-color: #ff9800;
  color: white;
  font-weight: bold;
}

.alert-modal-header .close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .8;
}

.alert-modal-header span {
  color: white;
}

.alert-modal-body {
  padding: 10px;
  background-color: #33394d;
  color: #b9c0ef;
}

.alert-modal-body-foot {
  margin-top: 20px;
  text-align: right;
}

/****************************输入框***********************/
.ipt-dark {
  border: none;
  outline: none;
  background-color: #47506c;
  color: #b9c0ef;
}

/****************************bootstrapvalidator验证信息颜色***********************/
.has-error .form-control-feedback {
  color: #dc3545;
}

.has-error .help-block {
  color: #dc3545;
}

.has-error .control-label {
  color: #dc3545;
}

.has-success .form-control-feedback {
  color: #28a745;
}

.has-success .help-block {
  color: #28a745;
}

.has-success .control-label {
  color: #28a745;
}

.has-feedback .help-block {
  color: #dc3545;
}

.form-control[disabled] {
  background-color: #ff6900;
}

/****************************ali iconfont***********************/
@font-face {
  font-family: 'iconfont';
  /* project id 1823585 */
  src: url("//at.alicdn.com/t/font_1823585_ewfcw4aupt.eot");
  src: url("//at.alicdn.com/t/font_1823585_ewfcw4aupt.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1823585_ewfcw4aupt.woff2") format("woff2"), url("//at.alicdn.com/t/font_1823585_ewfcw4aupt.woff") format("woff"), url("//at.alicdn.com/t/font_1823585_ewfcw4aupt.ttf") format("truetype"), url("//at.alicdn.com/t/font_1823585_ewfcw4aupt.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont", serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/****************************覆盖bootstrap原始样式***********************/
.close {
  float: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  color: unset;
  text-shadow: unset;
  filter: unset;
  opacity: unset;
}

textarea {
  line-height: normal;
  margin: unset;
  font-size: inherit;
  overflow: unset;
  color: unset;
}

body {
  background-color: #202539;
  color: #7a80a2;
}

nav.navbar {
  border: none;
  border-radius: 0;
  padding: 0 50px;
  margin: 0;
  background-color: #171a29;
  color: #7a80a2;
  font-size: 20px;
}

nav.navbar .navbar-header .navbar-brand {
  height: 70px;
  padding: 0;
}

nav.navbar .navbar-header .navbar-brand img {
  width: 173.6px;
  height: 70px;
}

nav.navbar ul.navbar-nav {
  padding: 0 50px;
  line-height: 70px;
}

nav.navbar ul.navbar-nav > li > a {
  width: 100px;
  height: 70px;
  padding: 0;
  line-height: 70px;
  font-size: 20px;
  text-align: center;
}

nav.navbar li.active > a {
  background-color: #33394d !important;
  color: #ff6900 !important;
}

nav.navbar li.dropdown.open > a {
  background-color: #33394d !important;
}

nav.navbar form.navbar-form {
  height: 70px;
  margin: 0;
  padding-top: 18px;
}

nav.navbar ul.navbar-right > li.dropdown > a.dropdown-toggle {
  width: unset;
}

nav.navbar #navbar-uinfo .dropdown-toggle > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translateZ(0);
}

#body-container {
  min-height: 800px;
  margin-top: 70px;
}

#foot-container {
  height: 100px;
  line-height: 100px;
  background-color: #1a1e2e;
  color: #7a80a2;
}

#foot-container p {
  font-size: 16px;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
