div{
  display: block;
  margin: 0;
  padding: 0;
}
.content-title{
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: normal;
  color: #b9c0ef;
}
.order-main{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 170px;
  margin-top: 150px;
  background-color: #2b669a;
  width: 900px;
  height: 100%;
}
.sum{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 170px;
  margin-top: 15px;
  background-color: #2b669a;
  width: 900px;
  height: 80px;
}
.sum-num{
  height: 80px;
  display: inline;
  float: right;
  line-height: 80px;
}
.sum-but{
  margin-top: 23px;
  background-color:lightgreen;
  width: 100px;
  height: 38px;
  display: inline;
  float: right;
  font-size: 20px;
}
.row1{
  width: 425px;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.row2{
  width: 170px;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.row3{
  width: 120px;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.order-title {
  font-size: 16px;
  height: 42px;
  border-bottom: 1px solid #3f4760;
}
.price{
    width: 300px;
    float: left;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.operate{
    height: 80px;
    width: 120px;
    float: left;
    text-align: center;
    position: relative;
    top: 75%;
    transform: translateY(-50%);
}
.operate button{
    background-color: #28669A;
    border: none;
}
/*
body{
  background-color: whitesmoke;
}*/
.myorder-elem{
  height: 120px;
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
}
.column1{
  height: 85px;
  width: 425px;
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow-x: auto;
}
.column1-elem{
  width: 135px;
  height: 80px;
  overflow: hidden;
  position: relative;
  float: left;
  cursor: pointer;
}
.game-title{
  width: 400px;
  height: 80px;
  overflow: hidden;
  position: relative;
  float: left;
  cursor: pointer;
}
.column1-img {
  display: inline;
  float: left;
  height: 80px;
  line-height: 80px;
  padding-left: 50px;
}
.column1-elem img{
  width: 135px;
  height: 80px;
}
.column1-elem-txt{
  margin: 0;
  padding: 0;
  display: none;
  width: 135px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  left: 0;
}
.elem-name{
  margin-left: 135px;
  width: 135px;
  height: 80px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 30px;
}
.game-elem{
  width: 800px;
  height: 80px;
  overflow: hidden;
  position: relative;
  float: left;
  cursor: pointer;
}
.che-buy{
  margin-top: 30px;
  display: inline;
  float: left;
}
/*GJDcss
*/
.community-content{
  padding: 130px 0 40px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}
.tabs-container{
  min-height: 603px;
}
.left-menu-tabs{
  float: left;
  width: 160px;
  height: auto;
  background: #33394d;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
}
.first-title{
  font-size: 18px;
  color: #b9c0ef;
  margin: 0 20px 5px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #3f4760;
  float: none;
  border-top: none;
  height: 42px;
}
.tags-button{
  padding: 0;
  float: none;
  height: 42px;
  font-size: 16px;
  line-height: 54px;
  border-width: 4px 0 0;
  text-decoration: none;
}
.tags-button a{
  font-size: 16px;
  color: #7a80a2;
  display: block;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
}
