<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的游戏</title>
    <link rel="stylesheet" type="text/css" href="/css/orderList.css">
</head>
<body>
<div class="order-main">
    <div class="myorder-elem">
        <div class="game-elem">
            <img src="/src/cover1.jpg">
            <span class="elem-name">飞飞飞</span>
        </div>
    </div>
    <div class="myorder-elem">
        <div class="game-elem">
            <img src="/src/cover1.jpg">
            <span class="elem-name">飞飞飞</span>
        </div>
    </div>
</div>
</body>
</html>