<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>彬果游戏(Bingo)—全球最大的游戏在线销售平台</title>
    <!-- 引入网页图标 -->
    <link rel="icon" href="/src/icon.png">
    <!--引入bootstrap默认css样式-->
    <link rel="stylesheet" href="/extlib/bootstrap-3.3.7/css/bootstrap.min.css">
    <!--引入bootstrapValidator默认css样式-->
    <link rel="stylesheet"
          href="/extlib/bootstrapvalidator-0.5.3/css/bootstrapValidator.min.css">
    <!--注意：因为bootstrap和bootstrapValidator的js插件使用了jquery，所以jquery的引用必须放到bootstrap的js插件引用之前-->
    <script type="text/javascript" src="/extlib/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/extlib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="/extlib/bootstrapvalidator-0.5.3/js/bootstrapValidator.min.js"></script>
    <!-- 引入自己的css库文件 -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- 引入自己的js库文件 -->
    <script type="text/javascript" src="/js/globalVars.js"></script>
    <script type="text/javascript" src="/js/reusable.js"></script>
    <script type="text/javascript" src="/js/navbar.js"></script>
</head>
<body>
<div class="navbar-fixed-top">
    <!-- 导航栏 -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="btn navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a href="/" class="navbar-brand">
                        <img src="/src/logo_rectangle.png" alt="Bingo">
                    </a>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="javascript:void(0)" onclick="index_body()">首页</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">游戏
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0)">免费游戏</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">新游上线</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">即将上线</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">促销游戏</a></li>
                            <li role="separator" class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">动作</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">射击</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">策略</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">模拟</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">独立</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">角色扮演</a></li>
                            <li role="separator" class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">所有游戏</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)" onclick="community_index()">社区</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" id="navbar-uinfo">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <img id="index-navbar-uavatar" src="/src/avatar_default.png" alt="头像">
                            <span id="index-navbar-ualias">&nbsp;用户昵称&nbsp;</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;我的信息
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;我的购物车
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;我的愿望单
                                </a>
                            </li>
                            <li role="separator" class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;我的订单
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;我的点评
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp;我的游戏
                                </a>
                            </li>
                            <li role="separator" class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="javascript:void(0)" onclick="logout()">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" id="navbar-nologged">
                    <li><a href="javascript:void(0)" onclick="user_login()"><i class="iconfont">&#xe6f0;</i>登录</a></li>
                    <li><a href="javascript:void(0)" onclick="user_register()"><i class="iconfont">&#xe71c;</i>注册</a>
                    </li>
                </ul>

                <form class="nav navbar-form navbar-right" role="search" id="navbar-search-form">
                    <div class="form-group">
                        <label class="control-label" for="navbar-search-form-keyword-input"></label>
                        <input type="text" class="form-control ipt-dark" id="navbar-search-form-keyword-input"
                               name="navbar-search-form-keyword-input" placeholder="请输入关键字">
                    </div>
                    <button type="submit" class="btn btn-primary" id="navbar-search-form-submit-button"
                            name="navbar-search-form-submit-button"
                            data-loading-text="<span class='glyphicon glyphicon-search' aria-hidden='true'></span> 搜索中...">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索商店
                    </button>
                    <div class="form-group" id="search-form-error-tip" style="display: none;"></div>
                    <!--                    <div class="form-group">-->
                    <!--                        <div class="dropdown" id="navbar-search-form-result">-->
                    <!--                            <ul class="dropdown-menu">-->
                    <!--                                <li>-->
                    <!--                                    <a class="dropdown-item" href="javascript:void(0)">-->
                    <!--                                        sadf-->
                    <!--                                    </a>-->
                    <!--                                </li>-->
                    <!--                                <li role="separator" class="dropdown-divider"></li>-->
                    <!--                                <li>-->
                    <!--                                    <a class="dropdown-item" href="javascript:void(0)">-->
                    <!--                                        sadf-->
                    <!--                                    </a>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </form>
            </div>
        </div>
    </nav>
</div>

<!-- 网页主体容器-->
<div class="container-fluid">
    <!-- 网页内容容器 -->
    <div class="row" id="body-container">
        <!-- 动态加载 -->

    </div>
    <!-- 页脚 -->
    <div class="row" id="foot-container">
        <p class="text-center">Copyright © 2020 ● 886小组版权所有</p>
    </div>
</div>
</body>
</html>