<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/title.css">
    <style type="text/css">
        body{
            background:#494f54;
        }
    </style>
</head>
<body>
<div>
    <div class="titile-box">
        <h1 class="titile">【促销】今日特价</h1>
        <div class="titile-d">
            <div class="titile-d-tem">
                <div class="titile-cover">
                    <img class="cover" src="img/8.jpg">
                </div>
                <div class="titile-info">
                    <p class="p-info" title="之狼">人活着就是为了樱岛麻衣
                    </p>
                    <div class="p-price">
                        <span class="discount">-20%</span>
                        <div class="p-price-right">
                            <span class="list-price">￥300</span>
                            <span class="true-price">￥240</span>
                        </div>
                    </div>
                </div>
                <div class="corner">促销</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>