<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" type="text/css" href="/css/shoppingcar.css">
    <script type="text/javascript" src="extlib/jquery-3.5.1/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="community-content">
    <div class="tabs-container">
        <div class="order-main" id="order-main">
            <div class="order-title">
                <div class="row1">商品名称</div>
                <div class="price">价格</div>
                <div class="row3">数量</div>
                <div class="row3">操作</div>
            </div>
            <!--<div class="myorder-elem">
                <input type="checkbox" class="che-buy" onclick="">
                <span class="column1">
                    <span class="game-title" id="1-1">
                        <img class="column1-img" src="https://media.st.dl.pinyuncloud.com/steam/apps/552990/header.jpg?t=1597765218" id="">
                        <span class="column1-txt">只狼</span>
                    </span>
                </span>
                <div class="price" id="">￥80.00</div>
                <div class="row3" id="">
                    <input type="number" value="1" class="num" id="content-score" onkeydown="return false;"  min="1" value="1">
                </div>
                <div class="operate">
                    <div class="sum1"><button class="da">删除</button></div>
                    <div class="sum1"><button class="da">加入心愿单</button></div>
                </div>
            </div>-->
        </div>
        <div class="sum">
            <button class="sum-but" onclick="buy()">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>购买</button>
            <div class="sum-num">共<span id="num">0</span>款游戏&nbsp;&nbsp;&nbsp;&nbsp;总价￥<span id="sumprice">0</span></div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var gnum = [],price = [],num = 0,sumprice = 0;
    function buy(){//购买，向后台发送插入订单请求
        var orDetails=[];
        var gids = [];

        var shoppingcar = JSON.parse(localStorage.getItem("shoppingcar"));
        var i=0,length=shoppingcar.length,html="";
        for(;i<length;i++) {
            if ((JSON.parse(localStorage.getItem("shoppingcar")))[i] == null) ;
            else {
                console.log("i为:" + i);
                console.log("购买数量为:" + gnum[i]);
                var item=0,keylist = [];
                var charac = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz012345678";
                for(; item<gnum[i];item++){
                    var key = "";
                    var temp1= Math.random()*57;
                    var temp2= Math.random()*57;
                    var temp3= Math.random()*57;
                    var temp4= Math.random()*57;
                    var temp5= Math.random()*57;
                    key += charac.charAt(temp1) + charac.charAt(temp2)+ charac.charAt(temp3)+ charac.charAt(temp4)+ charac.charAt(temp5);
                    keylist.push(key);
                }
                console.log("生成的keylist为: " + keylist);
                gids.push(shoppingcar[i].gid);
                orDetails.push({
                    gid : shoppingcar[i].gid,
                    klist : keylist,
                    discount : shoppingcar[i].discount,
                    price : shoppingcar[i].price
                });
                console.log("单价:" + shoppingcar[i].price)
            }
        }
        //插入订单
        var myDate = new Date();
        var orderContent = {
            uid : 1,
            otime : myDate,
            orderDetails : JSON.stringify(orDetails)
        }
        // orderContent = JSON.stringify(orderContent);
        console.log("购买记录:" + orderContent);
        console.log("购买记录:" + typeof orderContent);
        $.post(
            "store/orderListAddHandle",
            orderContent,
            function (result){
                console.log(result);
            }
        )
        //更改用户游戏列表
        var data = {
            uid : 1,
            gid : JSON.stringify(gids),
            mode : 1
        }
        $.post(
            "/person/updateGameListById",data,
            function (result){
                console.log(result);
            }
        );
        console.log(orderContent);
        window.alert("购买成功！");
    }
    //删除总价
    function pricesum(num){
        console.log("更前后的数量:" + gnum[$(num).attr("id")]);
        sumprice += ($(num).val()-gnum[$(num).attr("id")]) * price[$(num).attr("id")] ;
        gnum[$(num).attr("id")] = parseInt($(num).val());
        console.log("更改后的数量:" + gnum[$(num).attr("id")]);
        console.log("单价:" + gnum[$(num).attr("id")]);
        $("#sumprice").text(sumprice);
    }
    //删除商品
    function deleteCar(game){
        var GAMEID=$(game).attr("id");
        var shoppingcar = JSON.parse(localStorage.getItem("shoppingcar"));
        var i=0,length=shoppingcar.length;
        for(;i<length;i++)
            if(JSON.parse(shoppingcar[i]==null)){
                delete shoppingcar[i];
            }else
            if(GAMEID==shoppingcar[i].gid){//删除游戏
                delete shoppingcar[i];
                break;
            }
        localStorage.setItem("shoppingcar",JSON.stringify(shoppingcar));
        window.alert("删除商品成功！");
        window.location.reload();
    }
    //加入心愿单
    function addWishList(game){
        var GAMEID=$(game).attr("id");
        console.log("游戏ID:" + GAMEID);
        var data = {
            uid : 1
        }
        $.get(
            "/person/getUserById",data,
            function (result){
                console.log(result);
                wishlist = result.resultMap.wishList;
                console.log(wishlist);
                var i=0,length=wishlist.length,exist=0;
                for( ;i<length;i++){
                    /*console.log(wishlist[i].gid);
                    console.log(GAMEID);*/
                    if(GAMEID==wishlist[i].gid)
                    {
                        exist=1;
                        break;
                    }
                }
                if(exist==1){
                    window.alert("已在心愿单中！请勿重复添加");
                }
                else {
                    var data = {
                        uid : 1,
                        gid : GAMEID,
                        mode : 1
                    }
                    $.post(
                        "/person/updateWishListById", data,
                        function (result){
                            console.log(result);
                        }
                    )
                    window.alert("加入心愿单成功！");
                }
            }
        )
    }
    $(document).ready(function (){
        function setInfo(){
            if(localStorage.getItem("shoppingcar")==null || (
                (JSON.parse(localStorage.getItem("shoppingcar")))[0]==null
                && (JSON.parse(localStorage.getItem("shoppingcar")))[1]==null) );
            var shoppingcar = JSON.parse(localStorage.getItem("shoppingcar"));
            var i=0,length=shoppingcar.length,html="";
            for(;i<length;i++){
                if((JSON.parse(localStorage.getItem("shoppingcar")))[i]==null);
                else{
                    gnum[i] = 1;
                    price[i] = shoppingcar[i].price;
                    //读取购物车
                    console.log("读取购物车");
                    console.log(shoppingcar[i]);
                    html+="<div class=\"myorder-elem\">\n" +
                        "                <span class=\"column1\">\n" +
                        "                    <span class=\"game-title\" id=\"1-1\">\n" +
                        "                        <img class=\"column1-img\" src=" +shoppingcar[i].chref+ "id=\"\">\n" +
                        "                        <span class=\"column1-txt\">"+shoppingcar[i].gname+"</span>\n" +
                        "                    </span>\n" +
                        "                </span>\n" +
                        "                <div class=\"price\" id=\"\">￥" +shoppingcar[i].price+ "</div>\n" +
                        "                <div class=\"row3\" id=\"\">\n" +
                        "                    <input type=\"number\" step='1'  onchange='pricesum(this)'  class=\"num\" id=" +i + " onkeydown=\"return false;\"  min=\"1\" value=\"1\">" +
                        "                </div>\n" +
                        "<div class=\"operate\">\n" +
                        "                    <div class=\"sum1\"><button class=\"da\" onclick='deleteCar(this) 'id=" +shoppingcar[i].gid+ ">删除</button></div>\n" +
                        "                    <div class=\"sum1\"><button class=\"da\" onclick='addWishList(this)' id=" +shoppingcar[i].gid+ ">加入心愿单</button></div>\n" +
                        "                </div></div>";
                    num++;
                    sumprice+=shoppingcar[i].price;
                }
            }
            $("#order-main").append(html);
            $("#num").text(num);
            $("#sumprice").text(sumprice);
        }
        setInfo()
    })
</script>
</html>