<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" type="text/css" href="/css/orderList.css">
    <script type="text/javascript" src="extlib/jquery-3.5.1/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="community-content">
    <div class="tabs-container">
        <div class="order-main">
            <div class="order-title">
                <div class="row1">商品名称</div>
                <div class="price">价格</div>
                <div class="row3">操作</div>
            </div>
            <div class="myorder-elem">
                <input type="checkbox" class="che-buy" onclick="">
                <span class="column1">
                    <span class="game-title" id="1-1">
                        <img class="column1-img" src="/src/cover1.jpg" id="">
                        <span class="column1-img" id="">只狼</span>
                    </span>
                </span>
                <div class="price" id="">￥80.00</div>
                <div class="operate">
                    <button >删除</button>
                    <button >加入心愿单</button>
                </div>
            </div>
            <div class="myorder-elem">
                <input type="checkbox" class="che-buy" onclick="">
                <span class="column1">
                    <span class="game-title" id="1-1">
                        <img class="column1-img" src="/src/cover1.jpg" id="">
                        <span class="column1-img" id="">只狼</span>
                    </span>
                </span>
                <div class="price" id="">￥80.00</div>
                <div class="operate">
                    <button >删除</button>
                    <button >加入心愿单</button>
                </div>
            </div>
        </div>
        <div class="sum">
            <button class="sum-but">购买</button>
            <div class="sum-num">共<span>2</span>款游戏&nbsp;&nbsp;&nbsp;&nbsp;总价<span>￥160.00</span></div>
        </div>
    </div>
</div>
</body>
</html>