<div class="container-fluid" id="index-body">
    <div class="row" id="index-carousel-container">
        <div id="index-carousel" class="carousel slide" data-ride="carousel">
            <!-- 图片轮播 -->
            <!-- 指示 -->
            <ol class="carousel-indicators">
                <!-- 动态生成 -->
            </ol>

            <!-- 幻灯片容器 -->
            <div class="carousel-inner" role="listbox">
                <!-- 动态生成 -->
            </div>

            <!-- 控制按钮 -->
            <a class="left carousel-control" href="#index-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#index-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container" id="index-body-recommendation-container">
        <div class="row index-body-recommendation">
            <div class="recommendation-title-container">
                <span>【推荐】正在促销</span>
                <span><a href="javascript:void(0)">更多></a></span>
            </div>
            <div class="recommendation-body-container" id="recommendation-promotion">
                <!-- 自动添加内容 -->
            </div>
        </div>
        <div class="row index-body-recommendation">
            <div class="recommendation-title-container">
                <span>【推荐】高评价</span>
                <span><a href="javascript:void(0)">更多></a></span>
            </div>
            <div class="recommendation-body-container" id="recommendation-score">
                <!-- 自动添加内容 -->
            </div>
        </div>
        <div class="row index-body-recommendation">
            <div class="recommendation-title-container">
                <span>【推荐】免费游戏</span>
                <span><a href="javascript:void(0)">更多></a></span>
            </div>
            <div class="recommendation-body-container" id="recommendation-free">
                <!-- 自动添加内容 -->
            </div>
        </div>
        <div class="row index-body-recommendation">
            <div class="recommendation-title-container">
                <span>【推荐】新上线</span>
                <span><a href="javascript:void(0)">更多></a></span>
            </div>
            <div class="recommendation-body-container" id="recommendation-new">
                <!-- 自动添加内容 -->
            </div>
        </div>
        <div class="row index-body-recommendation">
            <div class="recommendation-title-container">
                <span>【推荐】即将上线</span>
                <span><a href="javascript:void(0)">更多></a></span>
            </div>
            <div class="recommendation-body-container" id="recommendation-pre">
                <!-- 自动添加内容 -->
            </div>
        </div>
    </div>
    <!-- 引入该部分的css库文件-->
    <link rel="stylesheet" href="/css/static_components/component_index.css">
    <link rel="stylesheet" href="/css/dynamic_components/component_game_recommendation_card.css">
    <!-- 引入该部分的js库文件-->
    <script type="text/javascript" src="/js/static_components/component_index.js"></script>
</div>