<div id="all-game" class="container store-search-container">
    <div class="search-title">
        <h1>全部游戏</h1>
    </div>
    <div class="condition">
        <button id="first-sort-choose" class="game-sort-order active">全部</button>
        <button class="game-sort-order">折扣</button>
        <button class="game-sort-order">最新</button>
        <button class="game-sort-order">评分</button>
        <button class="game-sort-order">价格
            <i class="fa">▲</i></button>
    </div>
    <div class="game-block">
        <div id="search-left">
            <ul id="game-list">
                <div style="width:800px">
                    <!--            游戏信息-->
                </div>

            </ul>
            <div class="search-store-pagination">
                <span class="page-list">

                </span>
            </div>
        </div>
        <div id="search-right">
            <div>
                <div class="search-block" style="height: 95px">
                    <h2>按地区</h2>
                    <div class="search-tags" style="height: 30%">
                        <div class="tags-block">
                            <span class="tags-block-wrapper4" id="fa21">中国站</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper4" id="fa22">国际站</span>
                        </div>
                    </div>
                </div>
                <div class="search-block" style="height: 212px">
                    <h2>按类型</h2>
                    <div class="search-tags" style="height: 70%">
                        <div class="tags-block">
                            <span class="tags-block-wrapper" id="fa1">动作</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper" id="fa2">射击</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper" id="fa3">策略</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper" id="fa4">角色扮演</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper" id="fa5">模拟</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper" id="fa6">体育</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper" id="fa7">独立</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper" id="fa8">休闲</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper" id="fa9">竞速</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper" id="fa10">冒险</span>
                        </div>
                    </div>
                </div>
                <div class="search-block" style="height: 124px">
                    <h2>热门标签</h2>
                    <div class="search-tags" style="height: 50%">
                        <div class="tags-block">
                            <span class="tags-block-wrapper1" id="fa11">预售游戏</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper1" id="fa12">新品游戏</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper1" id="fa14">促销游戏</span>
                        </div>
                    </div>
                </div>
                <div class="search-block" style="height: 94px">
                    <h2>按语言</h2>
                    <div class="search-tags" style="height: 30%">
                        <div class="tags-block">
                            <span class="tags-block-wrapper3" id="fa15">中文</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper3" id="fa16">英文</span>
                        </div>
                    </div>
                </div>
                <div class="search-block" style="height: 124px">
                    <h2>按价格</h2>
                    <div class="search-tags" style="height: 30%">
                        <div class="tags-block">
                            <span class="tags-block-wrapper2" id="fa17">￥0-10</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper2" id="fa18">￥11-50</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper2" id="fa19">￥51-100</span>
                        </div>
                        <div class="tags-block">
                            <span class="tags-block-wrapper2" id="fa20">>=￥101</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 引入该组件的css库文件-->
    <link rel="stylesheet" href="/css/static_components/component_all_game.css">
    <!-- 引入该组件的js库文件-->
    <script type="text/javascript" src="/js/static_components/component_all_game.js"></script>
</div>