<div class="community-content" id="community-other-profile">
    <div class="tabs-container">
        <div class="center-user-tabs">
            <div class="center-user-info">
                <div class="top-info">
                    <div class="left-photo">
                        <img id="user-photo" src="#">
                    </div>
                    <div class=" form-block">
                        <p>个人介绍</p>
                        <textarea class="user-describe" readonly></textarea>
                    </div>
                </div>
                <div class="form-block" style="width:100%;margin-left:0;">
                    <div class="label-name">用户名：</div>
                    <div id="user-true-name">***</div>
                </div>
                <div class="form-block" style="width:100%;margin-left:0;">
                    <div class="label-name">昵称：</div>
                    <div id="user-name">gjd</div>
                </div>
                <div class="form-block" style="width:100%;margin-left:0;">
                    <div class="label-name">电子邮箱：</div>
                    <div id="user-email">18211111509@777.com</div>
                </div>

                <div class="form-block" style="width:100%;margin-left:0;">
                    <div class="label-name">姓别：</div>
                    <div id="user-sex">男</div>
                </div>
                <div class="form-block" style="width:100%;margin-left:0;">
                    <div class="label-name">生日：</div>
                    <div id="user-birthday">1999年8月28日</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 引入该组件的css库文件-->
    <link rel="stylesheet" href="/css/static_components/component_other_profile.css">
    <!-- 引入该组件的js库文件-->
    <script type="text/javascript" src="/js/static_components/component_other_profile.js"></script>
</div>