<div class="community-content" id="community-index">
    <div class="community-middle">
        <div class="home-slider-content">
            <div class="slider-content">
            </div>
        </div>
        <div>
            <div class="community-news">
                <div class="title">
                    <span class="title-text">社区要闻</span>
                </div>
                <ul class="community-news-list">
                    <!--                    这里是社区要闻的显示-->
                </ul>
            </div>
        </div>
        <div class="community-content">
            <a class="post-button btn-primary" onclick="community_new_post()">发布帖子</a>
            <div class="block-container">
                <div class="block-types">
                    <a class="type1" id="tie1" href="#">最新帖子</a>
                    <a class="type2" href="#">最热帖子</a>
                </div>
                <div class="block-contents">
                    <div class="topic-list-container">
                        <div class="community-post-detail">
                            <!--                               这里是帖子的内容-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 引入该组件的css库文件-->
    <link rel="stylesheet" href="/css/static_components/component_community_index.css">
    <!-- 引入该组件的js库文件-->
    <script type="text/javascript" src="/js/static_components/component_community_index.js"></script>
</div>