<div class="community-content" id="user-wish-list">
    <div class="tabs-container">
        <div class="left-menu-tabs">
            <div class="first-title tags-button">我的账户</div>
            <div class="tags-button">
                <a class="close" href="javascript:void(0)" onclick="showUserInfo(this)">我的信息</a>
            </div>
            <div class="tags-button">
                <a class="close" href="javascript:void(0)" onclick="showUserInfo(this)">我的购物车</a>
            </div>
            <div class="tags-button">
                <a class="close" id="choose1" href="javascript:void(0)" onclick="showUserInfo(this)">我的愿望单</a>
            </div>
            <div class="first-title tags-button">订单中心</div>
            <div class="tags-button">
                <a class="close" href="javascript:void(0)" onclick="showUserInfo(this)">我的订单</a>
            </div>
            <div class="tags-button">
                <a class="close" href="javascript:void(0)" onclick="showUserInfo(this)">我的点评</a>
            </div>
            <div class="tags-button">
                <a class="close" href="javascript:void(0)" onclick="showUserInfo(this)">我的游戏</a>
            </div>
        </div>
        <div class="center-user-tabs">

            <div class="community-wish-list">
                <div class="community-middle">
                    <div class="wish-list-container">
                        <!--                        <div class="wish-list-menu">
                                                    <span onclick="reload()">刷新界面</span>
                                                </div>-->
                        <h1 class="wish-list-owner"></h1>
                        <div class="wish-tab">
                            <p class="wish-list-count">共有<span class="count">n</span>项</p>
                        </div>
                        <div class="wish-list-content">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- 引入该部分的css库文件-->
    <link rel="stylesheet" href="/css/static_components/component_user_wish_list.css">
    <!-- 引入该部分的js库文件-->
    <script type="text/javascript" src="/js/static_components/component_user_wish_list.js"></script>
</div>