<div class="community-content" id="community-index">
    <div class="community-middle">
        <div class="home-slider-content">
            <div class="slider-content">
                <div class="slider-block">
                    <div class="image-list">
                        <div class="slider-item" id="show1">
                            <a id="link" href="#" target="_blank">
                                <img id="show-img" src="">
                                <span id="show-msg">这是第一条信息</span>
                            </a>
                        </div>
                        <div class="slider-item" id="show2">
                            <a id="link2" href="#" target="_blank">
                                <img id="show-img2" src="">
                                <span id="show-msg2">这是第二条信息</span>
                            </a>
                        </div>
                        <div class="slider-item" id="show3">
                            <a id="link3" href="#" target="_blank">
                                <img id="show-img3" src="">
                                <span id="show-msg3">这是第三条信息</span>
                            </a>
                        </div>
                        <div class="slider-item" id="show4">
                            <a id="link4" href="#" target="_blank">
                                <img id="show-img4" src="">
                                <span id="show-msg4">这是第四条信息</span>
                            </a>
                        </div>
                        <div class="slider-item" id="show5">
                            <a id="link5" href="#" target="_blank">
                                <img id="show-img5" src="">
                                <span id="show-msg5">这是第五条信息</span>
                            </a>
                        </div>
                    </div>
                    <div class="page-choose">
                        <div class="close" id="choose1">1</div>
                        <div class="close">2</div>
                        <div class="close">3</div>
                        <div class="close">4</div>
                        <div class="close">5</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="community-news">
                <div class="title">
                    <span class="title-text">社区要闻</span>
                </div>
                <ul class="community-news-list">
                    <!--                    这里是社区要闻的显示-->
                </ul>
            </div>
        </div>
        <div class="community-content">
            <a class="post-button btn-primary" onclick="community_new_post()">发布帖子</a>
            <div class="block-container">
                <div class="block-types">
                    <a class="type1" id="tie1" href="#">最新帖子</a>
                    <a class="type2" href="#">最热帖子</a>
                </div>
                <div class="block-contents">
                    <div class="topic-list-container">
                        <div class="community-post-detail">
                            <!--                               这里是帖子的内容-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 引入该组件的css库文件-->
    <link rel="stylesheet" href="/css/static_components/component_community_index.css">
    <!-- 引入该组件的js库文件-->
    <script type="text/javascript" src="/js/static_components/component_community_index.js"></script>
</div>